.selectFlag {
  margin-right: 10px;
  transform: translateX(-3px)
}
.userAvatar{
  padding-right: 30px;
}
.userSetting_dropdown{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid grey;
  text-align: center;
  cursor: pointer;
  span{
    font-size: 12px !important;
    vertical-align: middle !important;
  }
}

.top-bar-title{
  margin: 0 10px;
}

.flag-select{
  margin-right: 15px;
  padding: 0;
  button.flag-select__btn:focus{
    outline: none;
  }
  button.flag-select__btn{
    span.flag-select__option{
      img.flag-select__option__icon{
        top: 0;
      }
    }
  }
  .flag-select__btn:after{
    margin-top: -5px;
  }
  .flag-select__options{
    border: 0;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
    max-height: 250px;
  }
}