.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.app-container {
  max-width: 1280px;
  min-width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
